---
const { title, backgroundImage  } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer class="footer-container" role="contentinfo">
			<p>&copy; 2025 Carace. All rights reserved.<span>Privacy Policy</span> | <span>Terms of Use</span> | <span>Legal</span></p>
		</footer>
	</body>
</html>

<style>
	body{
		margin: 0;
		font-family: sans-serif;
		font-weight: 700;
		position: relative;
		width: 100vw;
		height: 100vh;
		color: #cdcdcd;
		background-color: #000; 
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background:   center / cover fixed;
		opacity: 0.5; /* Aumenta a 1 para probar */
		z-index: -2;
	}

	body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: linear-gradient(180deg, #0005 0%, #000b 100%);
		z-index: -1;
	}

	main{
		flex: 1;
	}

	.footer-container {
		background-color: #000b;
		color: inherit;
		text-align: left;
		padding: 10px;
		font-size: 16px;
		margin-top: auto;
	}

	.footer-container p {
		margin: 0;
		line-height: 1.5;
	}

	.footer-container span {
		margin: 0 15px;
		cursor: pointer;
	}

</style>
